.form {
    width: 80%;
    max-width: 400px;
    background-color: #d3e0ea;
    padding: 30px;
    margin: auto;
    border-radius: 5px;
    text-align: left;
}

.button {
    border: 0;
    padding: 10px 15px;
    background-color: #fb743e;
    color: white;
    margin: 5px;
    border-radius: 4px;
    cursor: pointer;
}
.button:disabled {
    opacity: .3;
    cursor: not-allowed;
}
.button:focus,
.button:hover {
    background-color: #d3450d;
}

.buttons {
    text-align: right;
}

.alert {
    padding: 10px;
    background-color: #ffacac;
    border: 1px solid #f87c7c;
    border-radius: 4px;
    margin-bottom: 10px;
}