:global .container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.Layout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.content {
    flex-grow: 1;
}